body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(linedpaper.png);
  background-attachment: fixed;
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  color: navy;
  text-decoration:
}
h4 {
  color: purple;
  font-weight: bold;
}
#summary {
  color: purple;
}
.skills-and-hobbies {
  color: purple;
}
h5 {
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
}
