body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
  padding: 10px
}
#tagline {
  color:  #0095d4;
}
.jumbotron {
  background-image: url("img/surgery.jpg");
  background-size: cover; no
  padding-top: 90px;
  color: white;
  height: 375px;
  text-shadow: 2px 2px black;
}
#copywright {
  background-color: #0095d4;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
}
h3 {
  color: white;
  font-size: 40px;
}
h4 {
  color: #0095d4;
  font-size: 80px;
}
.contact {
  color: #0095d4;
  font-size: 60px;
}
